<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules>
            <add name="UriCacheModule" />
            <add name="FileCacheModule" />
            <add name="TokenCacheModule" />
            <add name="RequestMonitorModule" />
            <add name="ManagedEngine" preCondition="integratedMode,runtimeVersionv2.0,bitness32" />
        </modules>
    </system.webServer>
</configuration>
